.flex-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container>div {
    margin: 16px;
}
.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.rating-price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.rating-container {
    background: #ebcb6d;
    width: 40%;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price-container {
    float: left;
    align-items: center;
    padding: 6px;
}