.restaurant-main-container {
    display: flex;
    height: 225px;
    width: 100%;
    background: lightgray;
}

.restaurant-details-container {
    display: flex;
    margin: 25px;
    width: 100%;
}

.image-container {
    width: 20%;
    align-self: center;
}

.restaurant-image {
    width: 220px;
    height: 175px;
}

.information-container {
    width: 60%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.restaurant-name-container {
    display: flex;
    margin-bottom: 6px;
}

.restaurant-name {
    font-size: 25px;
    width: 70%;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 15px;
}

.restaurant-locality-container{
    display: flex;
    margin-bottom: 10px;
}
.restaurant-locality {
    font-size: 14px;
    margin-top: 4px;
    margin-left: 15px;
    text-transform: uppercase;
}

.restaurant-categories-container {
    display: flex;
    margin-bottom: 10px
}

.restaurant-categories {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 15px;
}

.rating-details-container {
    width: 20%;
    margin-top: 5px;
    margin-left: 15px;
}
.rating-details {
    color: black;
    font: 12px;
    display: flex;
}
.rating-rr {
    align-self: center;
    margin-top: 2px;
    margin-left: 3px;
}
.avg-rating {
    color: gray;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 4px;
    font-size: 12px;
}

.customer-rating {
    font-weight: bolder;
}