.checkout-main-container {
    width: 100%;
    direction: flex;
    background: lightgray;
}

.checkout-container {
    width: 65%;
    float: left;
    background: pink;
    height: auto;
}

.summary-container {
    margin-top: 20px;
    margin-right: 10px;
    width : 30%;
    float: right;
    background: yellow;
    height: auto;
}