.app-header {
    background-color: #243237;
    height: 36px;
    padding: 8px 16px 8px 8px;
}

.login-button {
    float: right;
}

.login-spacing {
    margin-left: 5px;
}

.app-logo {
    color: white;
    margin: 5px;
}